<div class="container mb-5">
  <div class="row">
    <div class="col-md-2 bg-light text-center pt-2">
      <h5>マイページ</h5>
    </div>
  </div>
</div>

<div class="container mb-3">
  <div class="row">
    <div class="col-md-2 pt-2">
      <h5><strong>登録情報</strong></h5>
    </div>
    <div class="col-md-2">
      <%= link_to "編集する", customers_edit_path(@customer.id), class: "btn btn-success" %>
    </div>
 </div>
</div>

<div class="container mb-5">
<table class="table table-bordered col-md-8">
 <tr><td class="col-md-3 bg-light">氏名</td><td><%= @customer.last_name %> <%= @customer.first_name %></td></tr>
 <tr><td class="col-md-3 bg-light">カナ</td><td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td></tr>
 <tr><td class="col-md-3 bg-light">郵便番号</td><td><%= @customer.postal_code %></td></tr>
 <tr><td class="col-md-3 bg-light">住所</td><td><%= @customer.address %></td></tr>
 <tr><td class="col-md-3 bg-light">電話番号</td><td><%= @customer.telephone_number %></td></tr>
 <tr><td class="col-md-3 bg-light">メールアドレス</td><td><%= @customer.email %></td></tr>
</table>
</div>

<div class="container mb-3">
  <div class="row">
    <div class="col-md-2 pt-2">
      <h5><strong>配送先</strong></h5>
    </div>
    <div class="col-md-2">
      <p>一覧を見るボタン</p>
    </div>
 </div>
</div>

<div class="container mb-3">
  <div class="row">
    <div class="col-md-2 pt-2">
      <h5><strong>注文履歴</strong></h5>
    </div>
    <div class="col-md-2">
      <p>一覧を見るボタン</p>
    </div>
 </div>
</div>