<div class="container">
  <div class="row">
      <h5>管理者ログイン</h5>
  </div>
      
    <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
    <div class="form-group row">
      <%= f.label :メールアドレス, class: "col-sm-2 col-form-label"%>
      <div class="col-sm-10">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>
    </div>
  
    <div class="form-group row">
      <%= f.label :パスワード, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    </div>
    <% end %>
    
</div>