<h4>注文履歴詳細</h4>

<h4>購入者</h4>
<%= @order.customer.last_name %> <%= @order.customer.first_name %>
<h4>注文日</h4>
<%= @order.created_at %>
<h4>配送先</h4>
<%= @order.address %>
<h4>支払方法</h4>
<%= @order.payment_method %>

<%= form_with model:@order, url: admin_order_path, local: true do |f| %>
<h4>注文ステータス</h4>
<%= f.collection_select(:status, @order, :id, :status) %>

<div class= 'form-group'>
<%= f.submit'更新', class: "btn btn-success" %>
</div>
<% end %>

<table class="table table-hover table-inverse">
        <thead>
          <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th>製作ステータス</th>
          <th></th>
          </tr>
        </thead>
      <% @order.each do |order| %>
      <tbody>
        <tr>
          <td>
           <%= order.order_detail.item.name %>
          </td>
          <td>
           <%= order.order_detail.price %>
          </td>
          <td>
           <%= order.order_detail.amount %>
          </td>
          <td>
           <%= order.order_detail.price.to_i %>
          </td>
          <td>
            <%= order.order_detail.making_status %>
          </td>
        </tr>
      </tbody>
      <% end %>
      </table>