<div class="container">
  <div class="bg-light w-25 mb-5 text-center">
    <h5>ジャンル一覧・追加</h5>
  </div>

  <%= form_with model: @genre, url: admin_genres_path, local: true do |f| %>
  <div class='row mb-5'>
    <%= f.label :ジャンル名, class: "col-md-2 col-form-label text-center" %>
    <%= f.text_field :name, class: "col-md-3 form-control" %>
    <div class="col-md-1 ml-1">
      <%= f.submit '新規登録', class: 'btn btn-success' %>
    </div>
  </div>
  <% end %>

  <table class="table table-hover table-inverse col-md-4 ml-5">
    <thead class="bg-light">
      <tr>
        <th colspan="3", class="text-center">ジャンル</th>
        <th></th>
      </tr>
    </thead>
    <% @genres.each do |genre| %>
    <tbody>
      <tr>
        <td colspan="3">
          <%= genre.name %>
        </td>
        <td style="text-align: right">
          <%= link_to "編集する", edit_admin_genre_path(genre.id), class: 'btn btn-success' %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>

</div>