<div class="container">
  <div class="row mb-5">
    <div class="col-md-3 text-center">
      <h4 class="bg-light">注文情報入力</h4>
    </div>
  </div>

    <div>
      <h5><strong>支払い方法</strong></h5>
    </div>

    <%= form_with model: @order, url: orders_confirm_path, local: true do |f| %>
    <div class="ml-3">
      <%= f.radio_button :payment_method, "credit_card" %>
      <%= f.label :payment_method, "クレジットカード" %>
    </div>

    <div class="ml-3 mb-3">
      <%= f.radio_button :payment_method, "transfer" %>
      <%= f.label :payment_method, "銀行振込" %>
    </div>

    <div>
      <h5><strong>お届け先</strong></h5>
    </div>

　　<div class="ml-3">
    <%= f.radio_button :select_address, '0' %>
    <%= f.label :ご自身の住所 %>
    </div>
    <div class="ml-5 mb-4">
      <%= @customer.full_address %>
    </div>

    <div class="ml-3">
    <%= f.radio_button :select_address, '1' %>
    <%= f.label :登録済み住所から選択 %>
    </div>
    <div class="ml-5 mb-4">
      <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :full_address) %>
    </div>

    <div class="ml-3">
    <%= f.radio_button :select_address, '2' %>
    <%= f.label :新しいお届け先 %>
    </div>
    <div class="row mb-3">
    <%= f.label :郵便番号（ハイフンなし）, class: "col-md-3 text-left col-form-label ml-5" %>
    <%= f.text_field :postal_code, class: " col-md-3 ml-3 form-control" %>
    </div>

    <div class="row mb-3">
      <%= f.label :住所, class: "col-md-3 text-left col-form-label ml-5" %>
      <%= f.text_field :address, class: "col-md-6 ml-3 form-control" %>
     </div>

    <div class="row mb-5">
      <%= f.label :宛名, class: "col-md-3 text-left col-form-label ml-5" %>
      <%= f.text_field :name, class: "col-md-3 ml-3 form-control" %>
    </div>

    <div class="row">
      <div class="col-md-6"></div>
      <%= f.submit '確認画面へ進む', class: 'btn btn-primary' %>
    </div>

    <% end %>


</div>