<div class="container mb-5">
  <div class="row mb-5">
    <div class="bg-light text-center pt-2">
      <h5>ログイン</h5>
    </div>
  </div>
  <div class="row">
    <h6 class="ml-3 bg-light">会員の方はこちらからログイン</h6>
  </div>
</div>

<div class="container mb-5">
  <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
  <div class="row mb-3">
    <%= f.label :メールアドレス, class: "col-form-label col-md-3 text-center" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'col-md-6 form-control' %>
  </div>

  <div class="row mb-5">
    <%= f.label :パスワード, class: "col-form-label col-md-3 text-center" %>
    <%= f.password_field :password, autocomplete: "current-password", class: 'col-md-6 form-control' %>
  </div>


  <div class="row mb-5">
    <div class="col-md-3"></div>
    <%= f.submit "ログイン", class: "btn btn-primary col-md-2" %>
  </div>
　<% end %>
</div>

<div class="container">
  <div class="row mb-3">
    <div class="bg-light text-center pt-2">
      <h6>会員登録がお済みでない方</h6>
    </div>
  </div>
  <div class="row">
    <%= link_to "こちら", new_customer_registration_path, class: "ml-3" %>から新規登録を行ってください。
  </div>
</div>
